@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root{   --color-primary: #1b69a1;
	
		--color-primary-dark: #155a8a;
 		
 		--color-secondary: #f5a623;
 		
 		--color-accent-pink: #d946ef;
 		
 		--color-accent-purple: #5e35b1;
 		
 		--color-bg-green: #7cb342;
 		
 		--color-bg-purple: #5e35b1;
 		
 		--color-bg-pink: #e91e63;
 		
 		--color-ui-red: #e53935;
 		
 		--color-ui-green: #7cb342;
 		
 		--color-ui-blue: #42a5f5;
 		
 		--color-ui-yellow: #fdd835;

        --bg-navbar:#ffffffb3;

        --bg-navbar-2:#fffffff2;
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Amatic SC","cursive",sans-serif;
}   